services:
    db:
        image: postgres:17
        restart: always
        user: postgres
        secrets:
            - db-password
        volumes:
            - db-data:/var/lib/postgresql/data
            - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
        environment:
            - POSTGRES_DB=userapi
            - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
        healthcheck:
            test: ["CMD", "pg_isready"]
            interval: 10s
            timeout: 5s
            retries: 5
        ports:
            - "5432:5432"
volumes:
    db-data:
secrets:
    db-password:
        file: db/password.txt
            
